* {
    margin :0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    width: 484px;
    height: 404px; 
    border: 2px solid black
}

.main-content-level-1 {
    display: flex;
    flex-wrap: wrap;
    width: 404px;
    height: 164px; 
    border: 2px solid black
}

.main-content-level-2 {
    display: flex;
    flex-wrap: wrap;
    width: 484px;
    height: 404; 
    border: 2px solid black
}

.div {
    width: 40px;
    height: 40px;
}

.wall {
    background-color: blue;
}

.life {
    background-color: red;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.chemin {
    background-color: white;
}

.wolf {
    border-radius: 50%;
}

.open-wall {
    background-color: orange;
}

.walker {
    background-color: yellow;
    border-radius: 50%;
}

.merlin {
    background-color: rgb(46, 46, 46);
    border: 0px;
}

.perceval {
    background-color: grey;
    border: 0px;
}